
<!--
    We will create a family tree using just CSS(3)
    The markup will be simple nested lists
    -->
<div class="tree">
    <div class="row">
        <div *ngIf="isVissible1" style="width: 25%">
            <ul>
                <li style="height: 50px; width: 100%">
                    <a (click)="togglefn()" style="height: 50px; width: 100%">
                        <div>
                            Parent
                        </div>
                    </a>
                    <ul *ngIf="toggle">
                        <li>
                            <a href="#">
                                <div>
                                    Parent
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <div *ngIf="!isVissible1" id="div1" style="width: 100%; height: 500px;">
            <ul>
                <li style="height: 50px; width: 100%">
                    <a (click)="togglefn()" style="height: 50px; width: 25%">
                        <div>
                            Parent
                        </div>
                    </a>
                    <ul *ngIf="toggle">
                        <li style="height: 50px; width: 25%">
                            <a href="#" style="height: 50px; width: 100%">
                                <div>
                                    child
                                </div>
                            </a>
                        </li>
                        <li style="height: 50px; width: 25%">
                            <a href="#" style="height: 50px; width: 100%">
                                <div>
                                    child
                                </div>
                            </a>
                        </li>
                        <li style="height: 50px; width: 25%">
                            <a href="#" style="height: 50px; width: 100%">
                                <div>
                                    child
                                </div>
                            </a>
                        </li>
                        <li style="height: 50px; width: 25%">
                            <a href="#" style="height: 50px; width: 100%">
                                <div>
                                    child
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <div *ngIf="isVissible2" id="div2" style="width: 25%">
            <ul>
                <li style="height: 50px; width: 100%">
                    <a (click)="togglefn1()" style="height: 50px; width: 100%">
                        <div>
                            Parent
                        </div>
                    </a>
                    <ul *ngIf="toggle1">
                        <li>
                            <a href="#">
                                <div class="col-md-6" style="height: 50px; width: 120px">
                                    Parent
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <div *ngIf="isVissible3" id="div3" style="width: 25%">
            <ul>
                <li style="height: 50px; width: 100%">
                    <a (click)="togglefn2()" style="height: 50px; width: 100%">
                        <div>
                            Parent
                        </div>
                    </a>
                    <ul *ngIf="toggle2">
                        <li>
                            <a href="#">
                                <div class="col-md-6" style="height: 50px; width: 120px">
                                    Parent
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <div *ngIf="isVissible4" id="div4" style="width: 25%">
            <ul>
                <li style="height: 50px; width: 100%">
                    <a (click)="togglefn3()" style="height: 50px; width: 100%">
                        <div>
                            Parent
                        </div>
                    </a>
                    <ul *ngIf="toggle3">
                        <li>
                            <a href="#">
                                <div class="col-md-6" style="height: 50px; width: 120px">
                                    Parent
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>
                        <li>
                            <a href="#">Child</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
