<!-- Footer -->
<footer class="page-footer font-small fixed-bottom footer">
  <div class="row">
    <div class="col-md-6">
      <!-- Copyright -->
      <div class="text-left" style="margin-left: 20px">© 2018 Copyright:
        <a href="#">Sample</a>
        <br>
        demo
      </div>
      <!-- Copyright -->
    </div>

    <div class="col-md-6">
      <!-- Logo -->
      <div class="text-right" style="margin-right: 20px">
        <img src="../../../../assets/images/nsdl_logo.png" style="height: 30px;" alt="">
      </div>
    </div>
  </div>

</footer>
<!-- Footer -->